@import url('https://fonts.googleapis.com/css?family=Raleway:200');


//Background Image
.bg{
	width:100vw;
	height: 100vh;
	position: absolute;
	z-index: -99; 
	background-color: #F5F5F5;
	// img{
	// 	width:100%;
	// 	height: 100%;
	// 	object-fit: cover;
	// }
}



.contentArea{
	width:100vw;
	height: 100vh; 
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;


	.title h1{
		font-family: 'Raleway', sans-serif;
		font-size: 50px;
		color:#595959;
		margin-top: -50px;
	}



	.inputArea{
		width: 50vw;
		height: 50px;
		margin-top: 50px;
	}


	.card-container{
		margin-top: 10px;
		background: #F5F5F5;
		width: 50vw;
		height: 300px;
		padding: 10px 10px;
		border-radius: 3px;
	}




	.footer{  
		position: absolute;
		top:98vh;
		p{
			font-family: 'Raleway', sans-serif;
			font-size: 12px;
			color:#595959;
		}
		
	}



	@media screen and (max-width: 700px){
		.inputArea, .card-container{
			width: 85vw;
		}

		.title h1{
			font-size: 38px;
		}
	}


}


// :host {
//     background: #F5F5F5;
//     overflow: hidden;
//     padding: 24px;
//     display: block;
//   }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-content {
    height: 120px; 
    margin-top: -16px;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-bar {
    border-color: #fff;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }







